<div class="header">

  <div class="header-logo">
<p><a [routerLink]="['/']"> P </a></p>
</div>

<nav>
  <a [routerLink]="['/']"> Home</a>
  <a [routerLink]="['/about']"> About</a>
  <a [routerLink]="['/gallery']"> Gallery</a>
  <a [routerLink]="['/cart']">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>

  <div class="dropdown" style="float:right;">

  <button *ngIf="isLoggedOut" [routerLink]="['/login']" class="dropbtn">LOGIN</button>

  <button  *ngIf="!isLoggedOut" (click)="logout()" class="dropbtn">LOGOUT</button>


  <div *ngIf="isLoggedOut" class="dropdown-content">
    <a [routerLink]="['/login']"> Login </a>
      <hr>
    <a [routerLink]="['/signup']"> Sign Up</a>

  </div>
</div>

</nav>

</div>
