* {
  text-align: center;
}

hr {
  width: 80%;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 36px;
  color: #ef4a6d;
}

button {
  margin: 20px;
  color: #b3aca7;
  background-color: #eff1f2;
  border: 1px solid #b3aca7;
  border-radius: 3px;
  width: 120px;
}

.menu-items {
  margin-right: 60px;
}

ul {
  display: inline-block;
  margin: 20px;
  width: 200px;
  height: 200px;
  list-style: none;
  text-align: center;
}

img {
  height: 180px;
  width: 190px;
}

h3 {
  font-weight: 200;
  font-size: 20px;
  color: #ef4a6d;
  margin-top: -5px;
}
