<div class="menu">
<h2> Menu </h2>

<div *ngIf="isAdmin">
    <a [routerLink]="['/admin']"> Add New Item</a>
  </div>

<div class="menu-buttons">
<button (click)="getBakery('Cupcakes')"> Cupcakes </button>
<button (click)="getBakery('Macarons')"> Macarons </button>
<button (click)="getBakery('Pies & Cakes')"> Pies & Cakes </button>
</div>

<hr>
<br>

<div class="menu-items">
<ul *ngFor = "let bakery of BakeryArray">
  <li>
    <img src="assets/{{bakery.photoUrl}}">
    <h3> {{ bakery.name }}</h3>
    <p> ${{bakery.price }}</p>
    <button id="addToCart"(click)="addToCart(bakery._id)" > Add to Cart </button><br>


<!-- If admin is logged in, show the add/edit/delete link -->
<div *ngIf="isAdmin">
    <a (click)="deleteItem(bakery._id, bakery.group)" > Delete</a>
  </div>


  </li>
</ul>
</div>

<br>
<br>

</div>
