<div class="menu">
<h2> Menu </h2>

<div class="menu-buttons">
<button (click)="getBakery('Cupcakes')"> Cupcakes </button>
<button (click)="getBakery('Macarons')"> Macarons </button>
<button (click)="getBakery('Pies & Cakes')"> Pies & Cakes </button>
</div>

<hr>
<br>

<ul *ngFor = "let bakery of BakeryArray">
  <li>
    <img src="assets/{{bakery.photoUrl}}">
    <h3> {{ bakery.name }}</h3>
    <p> ${{bakery.price }}</p>
    <a [routerLink]="['/Edit']"> Edit</a> |
    <a [routerLink]="['/Delete']"> Delete</a>
  </li>
</ul>

<br>
<br>

</div>
