<div class="testimonialsView">
<ul>
<div class="testimonialsList">
  <li>
    <img src="assets/person1.jpeg">
    <h4>Great Service</h4>
    <p>"Marjorie is amazing! Exceeded all my expectations. Can't wait to order again. Won't be long i'm sure :-)"</p>
    <p> - Liza Ravello </p>
  </li>
  <li>
    <img src="assets/person2.jpeg">
    <h4>Amazing!! </h4>
    <p>"The cupcakes were beautifully designed! I want moooore! Going to order again for my birthday!"</p>
    <p> - Carmen Dana </p>
  </li>
  <li>
    <img src="assets/person3.jpeg">
    <h4> The perfect gift!</h4>
    <p>"Ordered some sweets for mothersday. It came in a beautiful box! She absolutely loved it!"</p>
    <p> - Julie Brennan </p>
  </li>
  <li>
    <img src="assets/person5.jpeg">
    <h4> Best Macarons ever</h4>
    <p>"Marjorie catered a sweet table for my 20th birthday. It was everything and more! Thank you so much!"</p>
    <p> - Zoey Lennon </p>
  </li>
</div>
</ul>
</div>
