.description {
  background-color: #eff1f2;
  margin-top: -30px;
  height: 250px;
  text-align: center;
  font-weight: 200;
  font-size: 24px;
  color: #ef4a6d;
  padding: 50px;
}

.text-header {
  font-weight: 200;
  font-size: 36px;
  color: #ef4a6d;
}

p {
  font-size: 18px;
}
