
<div class="form-box">

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>


  <h2> Log In </h2>

<br>
<br>

  <p *ngIf="loginErrorMessage" class="error">
    {{ loginErrorMessage }}
  </p>

  <form (ngSubmit)="doLogin()">
    <label for="login-email-input"> Email </label>
    <br>
    <input  id="login-email-input" type="email" placeholder="hi@example.com"
        [(ngModel)]="loginEmail" name="loginEmail">

    <br>
    <br>

    <label for="login-pass-input"> Password </label>
    <br>
    <input  id="login-pass-input" type="password" placeholder="*******"
        [(ngModel)]="loginPassword" name="loginPassword">

    <br>
    <br>
    <br>

    <button> Log In </button>

    <br>
    <br>
    <br>
    <hr>

    <p>Not yet a member?</p>
    <a [routerLink]="['/signup']"> Sign Up</a>

  </form>
</div>
