<div class="jumbotron">

  <div class="intro-box">
    <p> The place to be for your favorite sweets, pastries and baked goods delivery!</p>
  <form class="form-wrapper">
      <input type="text" id="search" placeholder="Find your favorite sweets and baked goods..." required>
      <input type="submit" value="go" id="submit">
  </form>
</div>
</div>


<div class="box alt container">
  <section class="feature left">
    <a href="#" class="image icon fa-signal"><img src="images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h3>The First Thing</h3>
      <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
    </div>
  </section>
  <section class="feature right">
    <a href="#" class="image icon fa-code"><img src="images/pic02.jpg" alt="" /></a>
    <div class="content">
      <h3>The Second Thing</h3>
      <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
    </div>
  </section>
  <section class="feature left">
    <a href="#" class="image icon fa-mobile"><img src="images/pic03.jpg" alt="" /></a>
    <div class="content">
      <h3>The Third Thing</h3>
      <p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
    </div>
  </section>
</div>
