.jumbotron {
  height: 800px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(/assets/test.jpg);
      background-size: cover;
      margin-top: -10px;
}

.intro-box {
  border: 1px solid white;
  width: 1200px;
  height: 760px;
  margin: -28px auto;
  padding: 70px;
}

h1 {
  font-family: "Cabin Condensed";
  font-family: "Palanquin";
  text-shadow: 5px 5px 5px #f9576f;
  color: white;
  font-size: 170px;
  text-align: center;
  margin-top: 160px;
  font-weight: bold;
  opacity: 0.9;
}

p {
font-family: "Cabin Condensed";
text-shadow: 5px 5px 5px #f9576f;
color: white;
font-size: 34px;
text-align: center;
font-weight: bold;
}

h5 {
  border-radius: 3px;
  background-color: white;
  opacity: 0.9;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  color: #f9576f;
  padding: 15px;
  font-weight: 200;
}

.form-wrapper {
	background-color: #f6f6f6;
  border-color: #dedede #bababa #aaa #bababa;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
  margin: 10px auto;
	overflow: hidden;
	padding: 2px;
	width: 790px;
  opacity: 0.9;
}

.form-wrapper #search {
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  color: #999;
	height: 42px;
	padding: 10px;
	width: 680px;
}

.form-wrapper #submit {
	background-color: #f9576f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	color: #fafafa;
	cursor: pointer;
	height: 42px;
	float: right;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 100px;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
	background-color: #e88890;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submit:active {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
	border: 0;
}
