<div class="full-gallery">

<h2> Gallery </h2>

<hr>

<div class="gallery">
<img src="assets/gallery/gallery1.jpg">
<img src="assets/gallery/gallery16.png">
<img src="assets/gallery/gallery4.jpg">
<img src="assets/gallery/gallery6.png">
<img src="assets/gallery/gallery2.jpeg">
<img src="assets/gallery/gallery5.jpg">
<img src="assets/gallery/gallery3.jpg">
<img src="assets/gallery/gallery7.jpg">
<img src="assets/gallery/gallery8.jpg">
<img src="assets/gallery/gallery9.png">
<img src="assets/gallery/gallery10.jpg">
<img src="assets/gallery/gallery11.jpg">
<img src="assets/gallery/gallery12.jpg">
<img src="assets/gallery/gallery13.jpg">
<img src="assets/gallery/gallery14.jpg">
<img src="assets/gallery/gallery15.jpg">
<img src="assets/gallery/gallery17.jpg">
<img src="assets/gallery/gallery18.jpg">
</div>

</div>
