
<h2> Your cart </h2>

<hr>

<div class="user-info-box">
<img class="user-icon" src="assets/user-icon6.png">

<br>
<br>
<br>

<h5> {{userInfo.fullName}} </h5>
<br>
<h5> {{userInfo.email}} </h5>
</div>

<div class="cart-items" *ngFor="let product of usersCart">
  <img src="assets/{{product.photoUrl}}">
  <p> {{product.name}} </p>

  <a (click)="deleteFromCart(product)">
  <span class="glyphicon glyphicon-trash"></span>
       </a>
</div>

<hr>

<h3> TOTAL </h3>

<hr>

<button [routerLink]="['/delivery-info']"> Check Out </button>
