.add-form {
  margin: 120px auto;
  border: 1px solid #d4d5d6;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #d4d5d6;
  padding: 50px;
  text-align: center;
  width: 500px;
}

select {
  width: 300px;
}

input, button {
  width: 300px;
}

::-webkit-input-placeholder {
  color: pink;
  font-size: 12px;
}

hr {
  width: 75%;
}

button {
  border-radius: 3px;
  background-color: #f9576f;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 3px;
  margin-top: -5px;
  opacity: 0.8;
  font-weight: 200;
  transition: 0.3s;
}


button:hover{
  box-shadow: 5px 5px 5px gray;
}
