

.contact-left {
  background-color: #e3eced;
  padding: 50px;
  text-align: center;
}

.text-header {
  text-align: center;
  font-weight: lighter;
  font-size: 36px;
  color: #ef4a6d;
}

p{
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  color: #ef4a6d;
}
