.form-box {
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #d4d5d6;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
  padding: 50px;
  text-align: center;
  width: 500px;
}


input {
  width: 280px;
}

button {
  width: 280px;
}
